{% extends "base.html" %}
{% block content %}
  <!-- Home Container -->
  <section class="home container">
    <div class="intro">
      <h2>Cheeved IT! is a community driven website for submitting, tracking,
      and managing life achievements. <span><a href="">Login</a> and
      <a href="">create</a> your portfolio of life achievements now!</span></h2>
    </div>
    <!-- Content -->
    <section class="content">
      <div class="achievements">
        <h3><i class="fa fa-fire"></i> Popular Achievements</h3>
          {% include 'achievements/_list.html' %}
      </div>
    </section>
    <!-- Sidebar -->
    <aside>
      <section class="statistics">
        <h3><i class="fa fa-trophy"></i> Statistics</h3>
        <ul>
          <li>
            <i class="fa fa-user"></i>
            <span>{{ systemStats.numUsers }} users</span>
          </li>
          <li>
            <i class="fa fa-users"></i>
            <span>{{ systemStats.numContributors }}  contributors</span>
          </li>
          <li>
            <i class="fa fa-certificate"></i>
            <span>{{ systemStats.numAchievements }}  achievements</span>
          </li>
          <li>
            <i class="fa fa-star"></i>
            <span>{{ systemStats.maxScore }}  maxpoints</span>
          </li>
          <li><h5>Last updated @ {{ systemStats.created }}</h5></li>
        </ul>
      </section>
      <section class="leaderboards">
        <h3><i class="fa fa-bar-chart"></i> Leaderboards</h3>
        <div class="top-scores">
          <h4>Top Scores</h4>
          <ol>
            {% for stat in scoreStats %}
              <li>
                <span style="float:left">{{ stat.username }} ({{ stat.value }}) </span>
              </li>
            {% endfor %}
          </ol>
        </div>
        <div class="top-contributors">
          <h4>Top Contributers</h4>
          <ol>
            {% for stat in contribStats %}
              <li>
                <span style="float:left">{{ stat.username }} ({{ stat.value }}) </span>
              </li>
            {% endfor %}
          </ol>
        </div>
      </section>
    </aside>
  </section>
{% endblock %}